################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructuresAndAlgo/DataStructures/bin/Debug/netcoreapp3.1
