################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructuresAndAlgo/DataStructures/bin/Debug/netcoreapp3.1
/DataStructuresAndAlgo/DataStructures/obj
/DataStructuresAndAlgo/DataStructures.Test/bin/Debug/netcoreapp3.1
/DataStructuresAndAlgo/DataStructures.Test/obj
